commands:
    modify-etc-hosts:
        command: |
            echo "20.67.116.60 ca_lynkeus" >> /etc/hosts
            echo "20.67.116.60 tlsca_lynkeus" >> /etc/hosts
            echo "52.174.21.2 ca_tex" >> /etc/hosts
            echo "52.174.21.2 tlsca_tex" >> /etc/hosts
            echo "52.174.186.121 ca_ordererorg" >> /etc/hosts
            echo "52.174.186.121 tlsca_ordererorg" >> /etc/hosts
            echo "104.40.255.174 peer0.lynkeus.domain.com" >> /etc/hosts
            echo "20.93.143.20 peer1.lynkeus.domain.com" >> /etc/hosts
            echo "20.73.72.70 peer0.tex.domain.com" >> /etc/hosts
            echo "13.80.52.99 peer1.tex.domain.com" >> /etc/hosts
            echo "13.94.185.17 orderer0.ordererorg.domain.com" >> /etc/hosts
            echo "20.93.142.129 orderer1.ordererorg.domain.com" >> /etc/hosts
            echo "20.71.225.237 orderer2.ordererorg.domain.com" >> /etc/hosts